.header{
    box-shadow: 0 0 1px 1px #000000;
    margin: 15px 0;
}

.header__menu{
    display: flex;
    flex-wrap: wrap;
}
.header__link{
    padding: 10px 25px;
    text-transform: uppercase;
    &:hover{
        text-decoration: underline;
    }
    
}
