.post{
    box-shadow: 0 0px 3px 2px #000;
    width: 23%;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    min-height: 200px;
   
    span{
        margin-top:10px;
        display: block;
    }
}